apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: es-client
  labels:
    component: elasticsearch
spec:
  replicas: 3
  template:
    metadata:
      labels:
        component: elasticsearch
        http: enabled
        role: client
    spec:
      containers:
      - name: es-client
        image: raaftech/elasticsearch:6.5.1
        imagePullPolicy: Always
        env:
        - name: ES_ALLOW_MMAPFS
          value: "false"
        - name: ES_CLUSTER_NAME
          value: "es-cluster"
        - name: ES_DISCOVERY_SERVICE
          value: "es-transport"
        - name: ES_INDEX_STORE_TYPE
          value: "niofs"
        - name: ES_NETWORK_HOST
          value: "_site_,_lo_"
        - name: ES_NODE_DATA
          value: "false"
        - name: ES_NODE_INGEST
          value: "false"
        - name: ES_NODE_MASTER
          value: "false"
        - name: ES_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: PROCESSORS
          valueFrom:
            resourceFieldRef:
              resource: limits.cpu
        resources:
          requests:
            cpu: 0.25
            memory: 2Gi
          limits:
            cpu: 1
            memory: 2Gi
        ports:
        - containerPort: 9200
          name: http
        - containerPort: 9300
          name: transport
        livenessProbe:
          tcpSocket:
            port: transport
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /_cluster/health
            port: http
          initialDelaySeconds: 20
          timeoutSeconds: 5
        volumeMounts:
        - name: storage
          mountPath: /elasticsearch/data
      volumes:
          - emptyDir:
              medium: ""
            name: storage
